Repository BME-MIT-IET/BudgetAnomalia-iet-2019, pull requests merged in 2019-05, with the labels that each got.

#16 Junit first test
  build.xml
  examples/selftest2/desk.ttl
  examples/selftest2/desk_template.ttl
  lib/lib/airline-0.7.3.jar
  lib/lib/commons-io-2.4.jar
  lib/lib/guava-15.0.jar
  lib/lib/javax.inject-1.jar
  lib/lib/opencsv-2.0.jar
  lib/lib/openrdf-sesame-2.7.10-onejar.jar
  lib/lib/slf4j-api-1.6.1.jar
  lib/lib/slf4j-jdk14-1.6.1.jar
  report/TEST-TestMessage.txt
  src/hu/bme/mit/budgetanomalia/test/TestCSV2RDF.java
Labels: enhancement, test

#17 Jacoco
  .gitignore
  .travis.yml
  build.xml
  lib/jacocoant.jar
  pom.xml
Labels: continous integration

#19 NoHeader Test
  examples/noheadertest/cars.csv
  examples/noheadertest/template.ttl
  examples/noheadertest/template2.ttl
  src/hu/bme/mit/budgetanomalia/test/TestNoHeader.java
Labels: test
